@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <br />
    <div class="template-box" style="padding-right:2em;">
        <table class="wikitable collapsible collapsed smwtable" style="width:400px;">
            <tbody>
                <tr>
                    <th colspan="3" style="text-align: left; padding-left: 1em;">
                        <span data-highlightingclass="BDS" class="team-template-team-standard">
                            <span class="team-template-image">
                                <a href="/rocketleague/team_BDS" title=" Team BDS">
                                    <img alt="" src="~/Content/Images/BDS_Esport_2019_std.png" width="120" height="50" loading="lazy" />
                                </a>
                            </span> <span class="team-template-text">
                                <a href="/rocketleague/team_BDS" title="BDS">Team BDS</a>
                            </span>
                        </span>
                    </th>
                </tr>
                <tr>
                    <th> ID</th>
                    <th> Real name</th>
                    <th> Role </th>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Es_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/Kael" title="Kael">Kael</a> </td>
                    <td style="text-align:left"> Javier Ojeda </td>
                    <td style="text-align:left"> Manager/Coach </td>
                </tr>
                <tr>

                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Es_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/MaRc_By_8" title="MaRc_By_8">MaRc_By_8</a> </td>
                    <td style="text-align:left"> Marc Domingo </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Fr_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/M0nkey M00n" title="M0nkey M00n">M0nkey M00n</a> </td>
                    <td style="text-align:left"> Evan Rogez </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Fr_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/Extra" title="Extra">Extra</a> </td>
                    <td style="text-align:left"> Alex Paoli </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr class="mw-empty-elt">
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="template-box" style="padding-right:2em;">
        <table class="wikitable collapsible collapsed smwtable" style="width:400px;">
            <tbody>
                <tr><th colspan="3" style="text-align: left; padding-left: 1em;"> 
                    <span data-highlightingclass="G2 Esports" class="team-template-team-standard">
                    <span class="team-template-image"><a href="/rocketleague/G2_Esports" title="G2 Esports">
                    <img alt="" src="~/Content/Images/G2_Esports_2019_std.png" width="120" height="50" loading="lazy"/></a>
                        </span> <span class="team-template-text"><a href="/rocketleague/G2_Esports" title="G2 Esports">G2 Esports</a>
                             </span></span></th></tr>
                <tr>
                    <th> ID</th>
                    <th> Real name</th>
                    <th> Role </th>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Us_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/Jahzo" title="Jahzo">Jahzo</a> </td>
                    <td style="text-align:left"> Jacob Suda </td>
                    <td style="text-align:left"> Manager/Coach </td>
                </tr>              
                <tr>

                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Us_hd.png" width="36" height="24" loading="lazy" /></span>&#160;@Html.ActionLink("Rizzo", "Player", "Liquipedia")</td>
                    <td style="text-align:left"> Dillon Rizzo </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Ca_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/JKnaps" title="JKnaps">JKnaps</a> </td>
                    <td style="text-align:left"> Jacob Knapman </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr>
                    <td style="text-align:left"> <span class="flag"><img src="~/Content/Images/Us_hd.png" width="36" height="24" loading="lazy" /></span>&#160;<a href="/rocketleague/Chicago" title="Chicago">Chicago</a> </td>
                    <td style="text-align:left"> Reed Wilen </td>
                    <td style="text-align:left"> Starter </td>
                </tr>
                <tr class="mw-empty-elt">
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>