@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rocket League Unofficial Website</h1>
    <p class="lead">This site is dedicated for me to learn about the ASP.Net MVC Framework so that I am ready for a new job</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Official Wesbite</h2>
        <p>
            Here lies the official website that I am basing a few things of for reference. It is currently the RL Esports website.
        </p>
        <p><a class="btn btn-default" href="https://esports.rocketleague.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Liquipedia</h2>
        <p>I will be getting lot of additional information about players and their settings, teams, etc from this website.</p>
        <p><a class="btn btn-default" href="https://liquipedia.net/rocketleague/Main_Page" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help...</h2>
        <p>I am extremely knew to web development and don't know that much. It is my goal to have a completely working website ASAP so that I know what I am doing for this job. If you
        have any advice or would like to help please feel free to comment and let me know..</p>
        <p><a class="btn btn-default" href="https://www.freecodecamp.org/news/model-view-controller-mvc-explained-through-ordering-drinks-at-the-bar-efcba6255053/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>