@{
    ViewBag.Title = "Liquipedia";
}
<h2>Welcome to the Liquipedia Page</h2>
<h3>@ViewBag.Message</h3>

<p>This page will be dedicated to a page similar to the rocket league Liquipedia page</p>

<strong>RL Main Page:</strong>   <a href="https://liquipedia.net/rocketleague/Main_Page" target="_blank">Main Page</a>
<br />
<strong>Rocket League Esports Teams:</strong> <a>@Html.ActionLink("Teams Breakdown", "Teams", "Liquipedia")</a>
<br />
<strong>Player Registration Page:</strong> <a>@Html.ActionLink("Register Here", "PlayerRegistration", "Liquipedia")</a>
<br />
<strong>Registered Player Page:</strong> <a>@Html.ActionLink("Players", "Player", "Liquipedia")</a>
