@{
    ViewBag.Title = "Liquipedia";
}
<h2>Welcome to the Liquipedia Page</h2>
<h3>@ViewBag.Message</h3>

<p>This page will be dedicated to a page similar to the rocket league Liquipedia page</p>

    <strong>RL Main Page:</strong>   <a href="https://liquipedia.net/rocketleague/Main_Page">Main Page</a><br />
    <strong>North American Teams:</strong> <a>@Html.ActionLink("NA Breakdown", "Teams", "Liquipedia")</a><br />
