@{
    ViewBag.Title = "RLEsports";
}

<h1>Welcome To The Rocket League Unoffical Website</h1>
<h3>Here lies a multitude of information dedicated to RL Esports and the players</h3>

<link rel="icon" href="https://rocketleague.media.zestyio.com/rl_s1_avatar_283_261.png" type="image/png" sizes="283x261" data-scope="instance" />